$variable-columns: false;
@import './variables';
@import '../node_modules/bulma/bulma';
@import '@fortawesome/fontawesome-free/css/all.css';

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: $grey;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
ol,
li,
label {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.overflow-hidden {
  overflow: hidden;
}

.text-right {
  text-align: right;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
